*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;

}

html, body {
    height: 100%;
    background-color: #f9fafb;
}

.container {
    display: grid;
    grid-template-rows: min-content auto;
    padding: 1rem;
    gap: 3rem;
}

.new-book-btn {
    width: max-content;
    padding: 1em 2em;
    place-self: center;
    background-color: #c7d2fe;
    border-radius: 30px;
    font-size: 1.3rem;
    font-weight: 700;
    cursor: pointer;
}

.new-book-btn:hover {
    background-color: #a5b4fc;
}

.cards-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(min(20rem, 100%), 1fr));
    gap: 3rem;
}

.cards-container > div {
    display: grid;
    align-items: center;
    column-gap: 0.5rem;
    row-gap: 1rem;
    padding: 1rem;
    position: relative;
    background-color: #f5d0fe;
    background-image: linear-gradient(#f5d0fe, #c7d2fe);
    border: 4px solid #86198f;
    border-radius: 10px;
    font-size: 1.3rem;
}

.cards-container > div > * {
    padding-right: 2.2rem;
    grid-column: 1 / 4;
}

.cards-container > div > p {
    display: inline-block;
    hyphens: auto;
}

.cards-container > div > img {
    position: absolute;
    top: 1rem;
    right: 0;
    padding-right: 0;
    cursor: pointer;
}

.modal {
    display: none;
}

.modal.active {
    display: grid;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    gap: 1rem;
    padding: 1rem;
    background-image: linear-gradient(#c7d2fe, #fae8ff);
    border: 3px solid #a21caf;
    border-radius: 10px;
}

.modal.active > form {
    display: grid;
    gap: 1rem;
}

.modal.active > img {
    cursor: pointer;
    justify-self: end;
}

.modal.active > form > input {
    padding-left: 0.5rem;
    min-height: 2rem;
    border-radius: 5px;
}

.modal.active > form > button {
    font-size: 1.25rem;
    padding: 0.25em 1.75em;
    justify-self: center;
    border-radius: 10px;
    background-color: #ede9fe;
    cursor: pointer;
}

.modal.active > form > button:hover {
    background-color: #ddd6fe;
}


/* Rounded Toggle Switch 
*******************************************/

/* The switch - the box around the slider */
.switch {
    position: relative;
    display: grid;
    grid-template-columns: auto max-content;
    gap: 1.9rem;
    align-items: center;
    width: 3rem;
    height: 1.5rem;
}

.switch > :nth-child(3) {
    padding: 0.17rem 0 0.15rem 2rem;
}

.cards-container .switch > :nth-child(3) {
    padding: 0.05rem 0 0.15rem 2rem;
}

/* Hide default HTML checkbox */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 1.2rem;
    width: 1.2rem;
    left: 0.15rem;
    bottom: 0.13rem;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: #2196F3;
}

input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
    -webkit-transform: translateX(1.5rem);
    -ms-transform: translateX(1.5rem);
    transform: translateX(1.5rem);
}

/* Rounded slider */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}